.confirmacion {
  flex: 1;
  padding: 4rem var(--padding-mobile);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.confirmacion-container {
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  padding-bottom: 7rem;
}

.confirmacion h1 {
  margin-bottom: 2rem;
  color: var(--color-black);
  font-size: 2rem;
  line-height: 1.2;
}

.confirmacion h2 {
  font-size: 1.5rem;
  margin: 3rem 0;
  color: var(--color-black);
}

.confirmacion ul {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.confirmacion li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0.5rem;
}

.confirmacion-footer-text {
  margin-top: 3rem;
  font-size: 14px;
  line-height: 20px;
}

.confirmacion-footer-text a {
  color: var(--color-black);
  text-decoration: underline;
}

.confirmacion-footer-text a:hover {
  opacity: 0.7;
}

@media (min-width: 800px) {
  .confirmacion {
    padding: 6rem var(--padding-tablet);
    padding-bottom: 0;
  }

  .confirmacion-container {
    max-width: var(--max-width-tablet);
  }

  .confirmacion li,
  .confirmacion-footer-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .confirmacion {
    padding: 6rem var(--padding-desktop);
    padding-bottom: 0;
  }

  .confirmacion-container {
    max-width: var(--max-width-desktop);
  }
}
