.legal {
  flex: 1;
  padding: 4rem var(--padding-mobile);
  background-color: var(--color-white);
}

.legal-container {
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legal h1 {
  color: var(--color-black);
  font-size: 2rem;
  width: 100%;
}

.legal h2 {
  font-size: 1.5rem;
  margin: 3rem 0 1rem 0;
}

.legal ul {
  margin-left: 2rem;
}

.legal .email-capture-container {
  max-width: var(--max-width-tablet);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.legal-content p,
.legal-content li {
  margin-bottom: 0.5rem;
}

.legal-content li {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 800px) {
  .legal {
    padding: 6rem var(--padding-tablet);
  }

  .legal-container {
    max-width: var(--max-width-tablet);
  }
  .legal-content li {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .legal {
    padding: 6rem var(--padding-desktop);
  }

  .legal-container {
    max-width: var(--max-width-desktop);
  }
}
