.notfound {
  flex: 1;
  padding: 4rem var(--padding-mobile);
  padding-bottom: 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.notfound-container {
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 7rem;
  flex-grow: 1;
}

@media (min-width: 800px) {
  .notfound {
    padding: 6rem var(--padding-tablet);
  }

  .notfound-container {
    max-width: var(--max-width-tablet);
  }
}

@media (min-width: 1200px) {
  .notfound {
    padding: 6rem var(--padding-desktop);
  }

  .notfound-container {
    max-width: var(--max-width-desktop);
  }
}
