.embarazo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem var(--padding-mobile);
  position: relative;
  overflow: hidden;
}

.embarazo-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/backgrounds/bg_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(90%);
  opacity: 0.3;
  z-index: 0;
}

.embarazo-container {
  max-width: var(--max-width-mobile);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.embarazo-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.embarazo-section h3 {
  margin: 2.5rem 0;
}

.embarazo-header h4 {
  margin-bottom: 0.5rem;
}

.embarazo-header h2 {
  color: var(--color-black);
}

.embarazo-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.embarazo-content .btn-cta {
  margin-top: 2rem;
  width: auto;
  padding: 0 2rem;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .embarazo-section {
    padding: 4rem var(--padding-tablet);
  }

  .embarazo-container {
    max-width: var(--max-width-tablet);
    gap: 4rem;
  }

  .embarazo-content {
    gap: 4rem;
  }
}

@media (min-width: 1200px) {
  .embarazo-section {
    padding: 5rem var(--padding-desktop);
  }

  .embarazo-container {
    /*     max-width: var(--max-width-desktop); */
    gap: 5rem;
  }

  .embarazo-content {
    gap: 5rem;
  }
}
