.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem var(--padding-mobile);
  gap: 2rem;
  overflow-x: hidden;
}

.hero-top {
  width: 100%;
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-button {
  padding: 1rem 0;
}

.hero-img {
  width: 100%;
}

.hero-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

.hero-title,
.hero-container .typewriter {
  margin-bottom: 1rem;
  color: var(--color-black);
}

.hero-copy {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-copy p {
  color: var(--color-black);
  line-height: 1.6;
}

.hero-copy h3 {
  color: var(--color-black);
  margin: 1rem 0;
}

.hero-partner {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
}

.hero-partner img {
  width: 200px;
  height: auto;
  filter: invert(1);
  flex-shrink: 0;
}

.hero-copy-extended {
  max-width: var(--max-width-mobile);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
}

.hero-copy-extended p {
  color: var(--color-black);
  line-height: 1.6;
}

.hero-copy-extended h3 {
  color: var(--color-black);
  margin: 1rem 0;
}

.hero-button {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
@media (min-width: 800px) {
  .hero {
    padding: 2rem var(--padding-tablet);
  }

  .hero-top {
    max-width: var(--max-width-tablet);
  }

  .hero-copy-extended {
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .hero {
    flex-direction: column;
    padding: 2rem var(--padding-desktop);
    max-width: var(--max-width-desktop);
    margin: 0 auto;
    gap: 3rem;
  }

  .hero-top {
    flex-direction: row;
    align-items: center;
    max-width: none;
    gap: 3rem;
  }

  .hero-container {
    flex: 1;
  }

  .hero-img {
    flex: 1;
  }

  .hero-copy-extended {
    /*     max-width: var(--max-width-desktop); */
  }
}
