.method-image {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.method-image img {
  width: 100%;
  height: 250px;
  max-height: 550px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.method-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.method-card {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow:
    0 0 12px rgba(96, 96, 96, 0.1),
    inset 0 0 16px rgba(96, 96, 96, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.method-card h3 {
  color: var(--color-black);
  margin: 0;
}

.method-card p {
  color: var(--color-black);
  margin: 0;
}

/* Tablet and above */
@media (min-width: 800px) {
  .method-image {
    height: auto;
    flex-grow: 1;
  }

  .method h2 {
    font-size: 44px;
    line-height: 50px;
  }

  .method-image img {
    height: 100%;
    min-height: 300px;
    max-height: 550px;
  }

  .method-cards {
    height: 100%;
  }

  .method-card {
    flex: 1;
  }
}
