.posparto-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem var(--padding-mobile);
}

.posparto-container {
  max-width: var(--max-width-mobile);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posparto-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.posparto-section h3 {
  margin: 1.5rem 0;
}

.posparto-header h4 {
  margin-bottom: 0.5rem;
}

.posparto-header h2 {
  color: var(--color-black);
}

.posparto-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posparto-content .btn-cta {
  margin-top: 2rem;
  width: auto;
  padding: 0 2rem;
  white-space: nowrap;
}

/* Tablet and above */
@media (min-width: 800px) {
  .posparto-section {
    padding: 4rem var(--padding-tablet);
  }

  .posparto-container {
    max-width: var(--max-width-tablet);
    gap: 4rem;
  }

  .posparto-content {
    gap: 4rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .posparto-section {
    padding: 5rem var(--padding-desktop);
  }

  .posparto-container {
    /*     max-width: var(--max-width-desktop); */
    gap: 5rem;
  }

  .posparto-content {
    gap: 5rem;
  }
}
