.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem var(--padding-mobile);
}

.schedule-container {
  max-width: var(--max-width-mobile);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.schedule-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  max-width: var(--max-width-tablet);
  text-align: left;
}

.schedule-header h2 {
  color: var(--color-black);
}

.schedule-header p {
  color: var(--color-black);
  line-height: 1.6;
}

@media (min-width: 800px) {
  .schedule-section {
    padding: 4rem var(--padding-tablet);
  }

  .schedule-container {
    max-width: var(--max-width-tablet);
    gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .schedule-section {
    padding: 5rem var(--padding-desktop);
  }

  .schedule-container {
    max-width: var(--max-width-desktop);
  }
}
